.music {
    display: flex;
    flex-direction: row;

    border: 1px solid #b3b3b3;
    border-radius: .6rem;

    width: 127vh;

    margin: 1vh 2vh 1vh 0;

    padding: 8px 10px 5px 0;

    img {
        width: 2.3rem;

        aspect-ratio: 1/1;
        object-fit: cover;

        margin: 0 1vh;
    }

    h3 {
        margin: 1vh 1vh 0 2vh;
    }

    p {
        margin-top: -.9vh;
    }

    .time {
        margin: 4px 14px 0 auto;
    }
}