.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    height: 50vh;

    margin-top: auto;

    background-color: black;
    color: white;

    background: linear-gradient(to top,
            rgb(0, 0, 0) 0%,
            rgba(0, 0, 0, 0.75) 75%,
            rgba(0, 0, 0, 0) 100%);

    p {
        letter-spacing: -0.04em;
        font-weight: 700;
        font-size: 100px;

        color: rgb(30, 215, 96)
    }

    button {
        margin-right: 1%;

        max-width: 3rem;
        min-width: 3rem;
    }

    .bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 100%;
        margin-bottom: 2%;

        div{
            margin-left: 2%;
        }
    }

    h2 {
        margin-left: -10%;

        color: rgb(30, 215, 96)
    }

    li:hover{
        color: rgb(30, 215, 96);
    }
}