.footer {
    display: flex;
    justify-content: left;

    height: 40vh;

    margin-top: auto;

    background-color: black;
    color: white;

    background: linear-gradient(to top,
            rgb(0, 0, 0) 0%,
            rgba(0, 0, 0, 0.75) 75%,
            rgba(0, 0, 0, 0) 100%);

    p {
        margin: auto 70vh auto auto;

        letter-spacing: -0.04em;
        font-weight: 700;
        font-size: 100px;

        color: rgb(30, 215, 96)
    }

    button {
        margin: auto 1vh 2vh 0;

        max-width: 3rem;
    }

    h2 {
        margin: 16vh 0 0 4vh;

        color: rgb(30, 215, 96)
    }

    ul {
        margin: 20vh 0 2vh -5vh;
    }
}