.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 5vh;
        margin-left: -7vh;

        h2 {
            text-align: center;
            font-size: larger;
            font-size: 7vh;

            margin: 0 auto;
        }

        hr {
            border: 1px solid #b3b3b3;
            margin: 1vh 5vh;
            width: 100%;
        }

        .inputs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            input {
                text-align: center;

                width: 100%;

                border: 1px rgb(30, 215, 96) solid;
                border-radius: 2rem;

                padding: .6% 0;

                margin: 2.5% 0;
            }

            input:focus {
                outline: none;
            }
        }

        button {
            img {
                width: 100%;

                margin-top: -50%;

                aspect-ratio: 1/1;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 1050px) {
    .edit {
        form {
            display: none;
        }
    }
}