.music {
    display: flex;
    flex-direction: row;

    border: 1px solid #b3b3b3;
    border-radius: .6rem;

    margin: 1vh 2vh 1vh 0;

    padding: 9px 0 5px 0;

    img {
        width: 2rem;

        aspect-ratio: 1/1;
        object-fit: cover;

        margin: 0 1vh;
    }

    h3 {
        margin: 1vh 1vh 0 2vh;
    }

    p {
        margin-top: -8px;
    }

    .time {
        margin: 1% 2% 1% auto;
    }
}