.main {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20vh auto;

    a{
        font-size: x-large;

        color: rgb(30, 215, 96);

        border: 1px #b3b3b3 solid;
        border-radius: .5rem;

        margin: auto auto;
        padding: 25px;
    }

    a:hover{
        transform: scale(1.05);
        transition: transform 0.3s;
    }
}