.header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40vh;

    background-color: rgb(0, 0, 0);

    background: linear-gradient(
        to bottom,       
        rgb(0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 75%,
        rgba(0, 0, 0, 0) 100%
    );

    h1 {
        font-size: 12vh;
        text-align: center;

        color: rgb(30, 215, 96);
    }

    img {
        width: 15vh;

        aspect-ratio: 1/1;
        object-fit: cover;

        margin: 2% 2%;
    }
}