.card {
    display: flex;
    flex-direction: row;
    align-items: center;

    border: 2px solid;
    border-radius: .5rem;

    width: 95.9%;
    height: 46vh;

    margin: 0 auto 4vh auto;

    .header {
        display: flex;
        flex-direction: column;

        margin-left: 4vh;

        h2 {
            font-size: larger;
            text-align: center;
            
            color: rgb(30, 215, 96);
        }
        
        img {
            min-width: 15rem;
            max-width: 15rem;
            
            aspect-ratio: 1/1;
            object-fit: cover;
            
            margin: 2% 2%;
        }
        
        p {
            text-align: center;
        }
    }
    
    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            margin: 5vh -15px;

            img {
                width: 2.8rem;

                aspect-ratio: 1/1;
                object-fit: cover;
            }
        }
    }

    .list {
        max-height: 90%;

        margin: 5vh -3.6vh 5vh 0;

        overflow-y: auto;
        overflow-x: hidden;
    }

    .list::-webkit-scrollbar {
        width: 12px;
    }

    .list::-webkit-scrollbar-track {
        background: transparent;
    }

    .list::-webkit-scrollbar-thumb {
        background-color: rgb(30, 215, 96);
        border-radius: 5px;
    }

    .list::-webkit-scrollbar-thumb:hover {
        background-color: rgb(37, 253, 113);
    }

    hr {
        height: 85%;
    }
}