.card {
    display: flex;
    flex-direction: row;
    align-items: center;

    border: 2px solid;
    border-radius: .5rem;

    width: 95.9%;
    height: 46vh;

    margin: 0 auto 4vh auto;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 30%;
        min-width: 100px;
        max-width: 15rem;

        height: 100%;
        min-height: 100px;
        max-height: 20rem;

        margin-left: 4vh;

        h2 {
            font-size: larger;
            text-align: center;

            color: rgb(30, 215, 96);
        }

        img {
            width: 100%;
            min-width: 7rem;
            max-width: 15rem;


            aspect-ratio: 1/1;
            object-fit: cover;

            margin: 2% 2%;
        }

        p {
            text-align: center;
        }
    }

    .list {
        max-height: 90%;

        width: 80%;

        margin: 3% -2% 3% -2%;

        overflow-y: auto;
        overflow-x: hidden;
    }

    .list::-webkit-scrollbar {
        width: 11px;
    }

    .list::-webkit-scrollbar-track {
        background: transparent;
    }

    .list::-webkit-scrollbar-thumb {
        background-color: rgb(30, 215, 96);
        border-radius: 4px;
    }

    .list::-webkit-scrollbar-thumb:hover {
        background-color: rgb(37, 253, 113);
    }

    hr {
        height: 85%;
    }

    .buttonsDefault {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 5%;

        min-width: 3rem;
        max-width: 3rem;

        margin-left: -3vh;

        button {
            margin: 2.6rem auto;

            img {
                width: 70%;

                min-width: 2rem;
                max-width: 3rem;

                aspect-ratio: 1/1;
                object-fit: cover;
            }
        }
    }

    .formsEditing {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 25%;

        min-width: 3rem;
        max-width: 200rem;

        margin-left: .4%;

        button {
            margin: 2.8rem auto;

            img {
                width: 80%;

                min-width: 2rem;
                max-width: 3rem;

                aspect-ratio: 1/1;
                object-fit: cover;
            }
        }
    }
}